/banned-ips.json
/banned-players.json
/crash-reports
/data
/logs
/mods
/command_history.txt
/debug
/downloads
/eula.txt
/icon.png
/libraries
/minecraft_server.1.21.1.jar
/ops.json
/options.txt
/run.bat
/run.sh
/saves
/screenshots
/server.properties
/schematics
/servers.dat
/servers.dat_old
/user_jvm_args.txt
/usernamecache.json
/versions
/*.zip
/usercache.json
/whitelist.json
/patchouli_data.json
/config/*.bak
/config/jei/world/server
